@charset "UTF-8"

/* h2 {
    background-color:
        aqua;
} */

/* input {
    background-color:
        rgb(104, 195, 78);
} */

#orange {
    background-color: rgb(255, 240, 189);
}

.blue {
    color: blue;
}

.text-center {
    text-align: center;
}

.small {
    font: size 20px;
}

.a {
    background-color:
        aqua;
    width: 100px;
    height: 100px;
}