#main {
	width: 280px;
	background-color: black;
	margin: 30px auto;
	border-radius: 40px;
	/*解决外边距重叠问题 */
	overflow: hidden;
}
/* .test {
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: right;
	height: 30px;
} */

.show {
	height: 180px;
	width: 100%;
	color: white;
	position: relative;
}

.show > div {
	position: absolute;
	bottom: 10px;
	right: 35px;
	font-size: 42px;
}

.a {
	background-color: rgb(85, 85, 85);
	transition-duration: 0.4s;
	color: white;
	font-size: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 1px;
}
.a:hover {
	background-color: #4caf50;
	color: white;
}
.a:active {
	background-color: rgb(67, 66, 66);
}

.b {
	background-color: orange;
	color: white;
	font-size: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 1px;
}

.b:active {
	background-color: rgba(255, 166, 0, 0.628);
}

.c {
	background-color: gray;
	color: white;
	font-size: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid black;
	margin: 1px;
}

.c:active {
	background-color: lightgray;
}

.d {
	background-color: gray;
	color: white;
	font-size: 20px;
	width: 120px;
	height: 60px;
	border-top-left-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px;
	border-top-right-radius: 50px 50px;
	border-bottom-right-radius: 50px 50px;
	border: 1px solid black;
	margin: 1px;
}

.d:active {
	background-color: lightgray;
	/* transform: translateY(0px); */
}

.touchbar {
	width: 90px;
	height: 3px;
	background-color: white;
	border-radius: 1px;
	/* 自动占用可用空间auto */
	margin: 20px auto 10px;
}
