<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<!-- <typeAlias type="com.brightstar.model.Category" alias="Category"/> -->
		<!-- 将这个包下所有的class 起一个别名，这个别名就是class自己的名字 -->
		<package name="com.brightstar.model" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!-- 驱动、URL、用户名、密码 -->
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://localhost:3306/mysql?characterEncoding=UTF-8&amp;useSSL=false" />
				<property name="username" value="root" />
				<property name="password" value="enchouree" />
			</dataSource>
		</environment>
	</environments>

	<!-- 映射 -->
	<!-- 如果要上面的内容生效，要写映射 -->
	<mappers>
		<mapper resource="com/brightstar/model/Category.xml" />
		<mapper resource="com/brightstar/model/Category2.xml" />
		<mapper resource="com/brightstar/model/Product.xml" />
		<mapper resource="com/brightstar/model/Order.xml" />
		<mapper resource="com/brightstar/model/OrderItem.xml" />
	</mappers>
</configuration>